body {
  font-family: Roboto;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background: #1F2937;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75vw;
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

li a {
  color: #E5E7EB;
}

.logo, h1, .title-desc, h3 {
  color: white;
}

a {
  text-decoration: none;
}

button {
  background: #3882f6;
  color: white;
  border-radius: 5px;
  border: solid white;
}

.section-1 {
  background: #1F2937;
  display: flex;
  flex: 1;
}

.one {
  padding: 100px 0 100px 0;
}

.content h2 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.content h2,
.content p {
  margin: 0;
}

.image-lg {
  height: 100%;;
  max-width: 1100px;
  width: 100%;
  background-color: grey;
}

.section-2 {
  flex: 1;
}

.card-image {

}

.section-3 {
  background: #E5E7EB;
  flex: 1;
}

.section-4 {
  padding: 50px 0 50px 0;
  flex: 1;
}

.four {
  background: #3882F6;
}

.footer {
  background: #1F2937;
  color: white;
  font-size: 12px;
  text-align: center;
}
