body {
  font-family: "Roboto";
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background: #1F2937;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15vw;
  margin-right: 15vw;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

li a {
  color: #E5E7EB;
}

.logo, h1, .title-desc, h3 {
  color: white;
}

a {
  text-decoration: none;
}

button {
  background: #3882f6;
  color: white;
  border-radius: 5px;
  border: solid white;
}

.section-1 {
  background: #1F2937;
  display: flex;
}

.section-1 button {
  border: none;
  padding: 10px;
}

.one {
  padding: 100px 0 100px 0;
  flex: 1;
}

.content,
.image-lg {
  flex: 1;
}

.content h2 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.content h2 {
  margin: 0;
}

.title-desc {
  margin-bottom: 30px;
}

.image-lg {
  height: 100%;;
  width: 100%;
  background-color: grey;
}

.section-2 {
}

.two {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 10vw;
}

.card-image {
  width: 100px;
  height: 110px;
  border: 2px solid blue;
  border-radius: 10px;
}

.card p {
  text-align: center;
}

.section-3 {
  background: #E5E7EB;
}

.three {
  flex: 1;
  display: block;
}

.three p:first-child {
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
}

.author {
  text-align: right;
}

.section-4 {
  padding: 50px 0 50px 0;
}

.four {
  background: #3882F6;
  border-radius: 5px;
  flex: 1;
  padding: 0 50px;
}


.footer {
  background: #1F2937;
  color: white;
  font-size: 12px;
  text-align: center;
}

.section-2,
.section-3,
.section-4 {
  padding: 100px 0;
}
